{% extends "base.html" %}
{% block menu %}{% endblock %}
{% block body %}
	<div id="frontpage" class="container">
      	<div class="row">
      		<div class="col-md-6 col-md-offset-3">
      			<a href="#"><div class="logo"></div></a>
      			<div class="descricao">O monitor legislativo foi desenvolvido durante o 2o Hackdays da Câmara Municipal.
      			<br>
      			Digite abaixo o número e o ano de um PL (ex. <a href="/legis/pl/0432/2009">0432 2009</a>) ou ASSUNTO que queira acompanhar.
      			</div>
      			<form id="buscar" name="input" action="/busca" method="get">
      				<input id="termo" name="termo" class="busca" type="text"></input>
      			</form>
      			<div class="help">Aperte "enter" para pesquisar.</div>
      		</div>
    	</div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
