{% extends "base.html" %}
{% block title %}<title>{{p.tipo|upper}} {{p.numero}}/{{p.ano}} - Monitor Legislativo</title>{% endblock %}
{% block body %}
	<div class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Projetos de lei</a></li>
            <li><a href="#about">Vereadores</a></li>
            <li><a href="#contact">Temas</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" id="legis">
      	<div class="row">
      		<div class="col-md-2 sidebar-left">
      			<div class="info">
      			<h2>{{p.tipo|upper}} - {{p.numero}}/{{p.ano}}</h2>
      			</div>

      			<div class="autores">
      			<h2>Autores</h2>
      			<span class="principal">{{p.autores|first}}</span>
      			{% for autor in p.autores[1:] %}
      			<span>{{autor}}</span>
      			{% endfor %}
      			</div>
      			<div class="anexos">
      			<h2>Anexos</h2>
      			</div>
      		</div>
      		<div class="col-md-10 main">
      			<div class="row">
      				<div class="col-md-4">
      				{% set last = p.tramitacoes|reverse|first %}
      				{% set first = p.tramitacoes|first %}
						<div class="status card">
								{% if p.encerramento %}
									{{p.encerramento}}
								{% else %}						
									{{last.tramitacao}}
								{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="ementa">
							<h2>Ementa</h2>
							<p>{{p.ementa}}</p>
						</div>
						<div class="tempo">
							{% if p.encerramento %}
							Tempo total decorrido: <span>{{first.data_inicio|diasatras(last.data_inicio)}} dias</span>
							{% else %}
							Tempo total decorrido: <span>{{first.data_inicio|diasatras()}} dias</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="tramitacao">
							<h2>Tramitação</h2>
							{% for tramite in p.tramitacoes %}
								<div class="card">
									{{tramite.tramitacao}}<br/>
									{% if tramite.data_fim %}
									{{tramite.data_inicio|diasatras(tramite.data_fim)}} dias
									{% else %}
									{{tramite.data_inicio|diasatras}} dias
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-4">
						<div class="explica">
						Clique em uma etapa para entender mais.
						</div>
					</div>	
			</div>
	</div>
{% endblock %}