{% extends "base.html" %}
{% block title %}<title>{{p.tipo|upper}} {{p.numero}}/{{p.ano}} - Monitor Legislativo</title>{% endblock %}
{% block body %}
    <div class="container" id="legis">
      	<div class="row">
      		<div class="col-md-2 sidebar-left">
      			<div class="info">
      			<h2>{{p.tipo|upper}} - {{p.numero}}/{{p.ano}}</h2>
      			</div>

      			<div class="autores">
      			<h2>Autores</h2>
      			<ul>
      			<li class="principal"><a href="{{ url_for('_vereador', nome=p.autores|first|title) }}">{{p.autores|first}}</a></li>
      			{% for autor in p.autores[1:] %}
      			<li><a href="{{ url_for('_vereador', nome=autor|title) }}">{{autor}}</a></li>
      			{% endfor %}
      			</ul>
      			</div>
      			<div class="anexos">
      			<h2>Anexos</h2>
      			</div>
      			<div class="assuntos">
      			<h2>Assuntos</h2>
      			<ul>
      			{% for assunto in p.assuntos %}
      			<li>{{assunto}}</li>
      			{% endfor %}
      			</ul>
      			</div>
      		</div>
      		<div class="col-md-10 main">
      			<div class="row">
      				<div class="col-md-4">
      				{% set last = p.tramitacoes|reverse|first %}
      				{% set first = p.tramitacoes|first %}
						<div class="status card">
								{% if p.encerramento %}
									{{p.encerramento}}
								{% else %}						
									{{last.tramitacao}}
								{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="ementa">
							<h2>Ementa</h2>
							<p>{{p.ementa}}</p>
              <a href="{{p.url_pdf}}" target="_blank">Integra do Projeto</a>
						</div>
						<div class="tempo">
							{% if p.encerramento %}
							Tempo total decorrido: <span>{{p.data_apresentacao|diasatras(p.data_encerramento)}} dias</span>
							{% else %}
							Tempo total decorrido: <span>{{p.data_apresentacao|diasatras()}} dias</span>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="tramitacao">
							<h2>Tramitação</h2>
							{% for tramite in p.tramitacoes|sort(attribute='data_inicio') %}
								<a href="#T-{{tramite.tramitacao}}" data-tramitacao={{tramite.tramitacao}}><div class="card {{tramite.tramitacao}} {{tramite.tipo}}">
									{{tramite.tramitacao}}<br/>
									{% if tramite.data_fim %}
									{{tramite.data_inicio|diasatras(tramite.data_fim)}} dias
									{% else %}
									{{tramite.data_inicio|diasatras}} dias
									{% endif %}
								</div></a>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-4">
						<div class="explicacao">
						<div class="explica">
						Clique em uma etapa para entender mais.
						</div>
						<div class="explica" id="T-SGP22">
						<b>SGP22 - Equipe de Controle do Processo Legislativo</b>
						<p>A Equipe de Controle do Processo Legislativo é parte integrante das Secretarias de Apoio ao Legislativo e é aqui que se da o inicio no processo de tramitação de Projeto de Lei dentro da casa legislativa quando protocola, indexa e autua as proposituras, dando-lhes o devido encaminhamento . Após esta fase primordial onde um texto vira Projeto de Lei (PL),  deve acompanhar e registrar todas as etapas de andamento das proposituras, cuidando para que observem-se os prazos legais.</p>
						</div>
            {% for e in explicacoes %}
            <div class="explica" id="T-{{e.sigla}}" style="height:0px">
            <b>{{e.sigla}} - {{e.nome}}</b>
            <p>{{e.descricao}}</p>
            </div>
            {% endfor %}
						</div>
					</div>	
			</div>
	</div>
{% endblock %}