body {
	background-color: #e5e5e5;
	font-family: Roboto, Verdana;
}

a:hover {
	text-decoration: none;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
}

/* Frontpage - front.html */

#frontpage {
	text-align: center;
}

#frontpage .logo {
	width:368px;
	height:283px;
	background-image: url('/static/imgs/logo.png');
	margin-top:70px;
	margin-left:100px;
	margin-bottom: 32px;
}

#frontpage .busca {
	margin-top:18px;
	margin-bottom:28px;
	width:80%;
	height:50px;
	border:5px solid #FFF;
	background-color: #afafaf;
	color:#FFF;
	font-size: 20pt;
}


/* Legis - legis.html */

#legis .sidebar-left {
	background-color: #ccc;
	border-top:1px solid #000;
	border-bottom: 1px solid #000;
}

#legis .main {
	background-color: #FFF;
	border:1px solid #000;	
}

#legis .tramitacao {
}

#legis .card {
	width:175px;
	height:175px;
	border:5px solid #FFF;
	margin:15px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	text-align: center;
	display:table-cell;
    vertical-align:middle;
}

#legis .ementa {
	height:200px;
}

#legis .tempo {
	width:100%;
	background-color: #e6e6e6;
	padding:10px;
	font-weight: bold;
}

#legis .tempo span {
	float:rightt s;
}
#legis .status.card {
	background-color: #c03226;
	width:280px;
	height:280px;
	color:#FFF;
	font-weight: bold;
	
}
#legis .tramitacao .card {
	float:left;
}