body {
	background-color: #e5e5e5;
	font-family: Roboto, Verdana;
}

a:hover {
	text-decoration: none;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
}

/* Frontpage - front.html */

#frontpage {
	text-align: center;
}

#frontpage .logo {
	width:368px;
	height:283px;
	background-image: url('/static/imgs/logo.png');
	margin-top:70px;
	margin-left:100px;
	margin-bottom: 32px;
}

#frontpage .busca {
	margin-top:18px;
	margin-bottom:28px;
	width:80%;
	height:50px;
	border:5px solid #FFF;
	background-color: #afafaf;
	color:#FFF;
	font-size: 20pt;
}


.sidebar-left {
	background-color: #ccc;
	min-height: 100px;
	border-top:1px solid #000;
	border-bottom: 1px solid #000;
}

.badges {
	background-color: #FFF;
	min-height: 100px;
	border-top:1px solid #000;
	border-bottom: 1px solid #000;
}

.main {
	background-color: #FFF;
	min-height: 100px;
	border:1px solid #000;	
}

/* Vereador - vereador.html */

#vereador .picture {
	width:100%;
	height:228px;
	background-color: #F00;
}

/* Legis - legis.html */

#legis .tramitacao {
}

#legis .card {
	width:175px;
	height:175px;
	border:5px solid #FFF;
	margin:15px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	text-align: center;
	display:table-cell;
    vertical-align:middle;
}

#legis .tramitacao a {
	color:#7f7f7f;
}

#legis .ementa {
	height:200px;
}

#legis .tempo {
	width:100%;
	background-color: #e6e6e6;
	padding:10px;
	font-weight: bold;
}

#legis .tempo span {
	float:rightt s;
}
#legis .status.card {
	width:280px;
	height:280px;
	color:#FFF;
	font-weight: bold;
	background-color: #c03226;
}
#legis .tramitacao .card {
	float:left;
}

#legis .tramita {
	background-color: #e6e6e6;
}

#legis .arquivo {
	background-color: #e6e6e6;
	opacity:0.5;
}

#legis .encerramento {
	background-color: #c03226;
	color:#000;
}

#legis .explicacao {
	color:#FFF;
	background-color: #546473;
	padding:15px;
	text-align: justify;
	min-width: 300px;
	max-width: 300px;
}

#legis .explicacao .explica {
	display:none;
}
#legis .explicacao .explica:first-child {
	display:block;
}

#legis .explica-ativa {
	height:100% !important;
}

#footer {
	text-align: center;
}

#footer p {
	padding-top: 25px;
}